{% extends "base.html" %} {% block content %}
<a href="{% url 'list_books' %}">Back to Home</a>
<br>
<div>
    <div>
        Book art to be displayed here
    </div>
    <div>
        {{ book.title }}
    </div>
    <div>
        {{ book.author }}
    </div>
    <div>
        Added {{ book.created_at }}
    </div>
    <div>
        Last updated {{ book.modified_at }}
    </div>
    <div>
        <a href="{% url 'edit_book' pk=book.pk}">Edit This Book</a>
        <a href="{% url 'delete_book' pk=book.pk}">Delete This Book</a>
    </div>
</div>
{% endblock %}